<% @service_base = SiteConfig.geoserver_url + "/" + @workspace %>


<div class="content">
  <h1><%= @doc.title %></h1>

  <div id="item_map"></div>
  <div id="layerswitcher" class="olControlLayerSwitcher"></div>

      <div id="layers">

    <h2>Individual Layers</h2>

    <% @doc.layers.each do |layer| %>
      <p>
      <strong><%= layer.content %></strong> (
        <%= link_to(pdf_url(layer.text), 'PDF') %>,
        <%= link_to(kml_url(layer.text), 'KML') %>,
        <%= link_to(jpeg_url(layer.text), 'JPEG', :class => 'ajax') %>,
        <%= link_to(ol_url(layer.text), 'Web Map', :class => 'cboxElement ajax') %>
        )
      </p>
  <% end %>

  </div>

  <div id="abstract">
    <h2>Abstract</h2>
    <p><%= @doc.abstract.gsub(/\n/, '<br/>') %></p>
  </div>

  <div id="categories">
    <h2>Categories</h2>
    <p><% @doc.categories.each do |category| %>
      <% search_string = "/items?q=#{category.content}&s=1&c=5&dt=3000" %>
       <a href="<%= search_string %>"><%= category.content %></a>
    <% end %>
    </p>
  </div>

  <div id="keywords">
  <h2>Keywords</h2>
  <p><% @doc.keywords.each do |keyword| %>
    <% search_string = "/items?q=#{keyword.content}&s=1&c=5&dt=3000" %>
    <a href="<%= search_string %>"><%= keyword.content %></a>
  <% end %>
  </p>
  </div>

  <% unless @doc.web_service.first.nil? %>

    <!-- TODO: refactor in to reflector classes on an item object -->
  <% wms_link = "#{@service_base}/wms?request=getCapabilities"%>
  <% wfs_link = "#{@service_base}/wfs?request=getCapabilities"%>

  <!-- this is from Geonetwork -->
  <% layer_list = @doc.layers.to_a.join(',') %>

  <div id="arcgis_connection">
    <h2>ArcGIS Connection</h2>
    <h3>WMS</h3>
    <p><a href="<%= wms_link %>"><%= wms_link %></a></p>
    <h3>WFS</h3>
    <p><a href="<%= wfs_link %>"><%= wfs_link %></a></p>
  </div>

  <div id="neatline_connection">
    <h2>Neatline Connection</h2>
    <h3>WMS Address</h3>
    <p><%= "#{@service_base}/wms" %><p>
    <h3>Layers</h3>
    <p><%= layer_list %></p>
  </div>

<% end %>

</div>

<% content_for :jsfooter do %>
  <%# TODO: refactor in to partial %>
<script>

(function() {
  "use strict";
//todo make this modular
  OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
  OpenLayers.Util.onImageLoadErrorColor = "transparent";
  OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/";

  var bounds = new OpenLayers.Bounds(
    <%= @doc.west %>,
    <%= @doc.south  %>,
    <%= @doc.east %>,
    <%= @doc.north  %>
  );

   var map = new OpenLayers.Map('item_map', {
    projection: new OpenLayers.Projection("EPSG:4326"),
    displayProjection: new OpenLayers.Projection("EPSG:4326"),
    maxExtent: bounds,
    maxResolution: 'auto',
    controls: [
      new OpenLayers.Control.Attribution(),
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.LayerSwitcher(
        {
          'div': OpenLayers.Util.getElement('layerswitcher')
        }
      ),
      new OpenLayers.Control.ScaleLine(),
      new OpenLayers.Control.MousePosition()
    ]
   });

  <% @doc.layers.each do |layer| %>
    <% clean_layer = /\:(.*)/.match(layer.text)[1].to_s %>

    var <%= clean_layer %> = new OpenLayers.Layer.WMS(
      "<%= clean_layer %>",  "<%= SiteConfig.geoserver_url + '/wms' %>",
      { layers: "<%= layer.text %>", transparent: true, format: 'image/gif' },
      { isBaseLayer: true }
    );

    map.addLayer(<%= clean_layer %>);
  <% end %>

  map.zoomToMaxExtent();
})();
</script>


<script src="/js/vendor/jquery.colorbox-min.js"></script>
<script>
//todo refactor this
$(document).ready(function(){$(".ajax").colorbox({iframe:!0,width:"80%",height:"80%"})});
</script>

<% end %>
