<% @service_base = SiteConfig.geoserver_url + "/" + @workspace %>


<div class="content">
  <h1><%= @doc.title %></h1>

  <div id="item_map"></div>

  <% unless @doc.web_service.first.nil? %>

    <!-- TODO: refactor in to reflector classes on an item object -->
  <% wms_link = "#{@service_base}/wms?request=getCapabilities"%>
  <% wfs_link = "#{@service_base}/wfs?request=getCapabilities"%>

  <!-- this is from Geonetwork -->
  <% layer_list = @doc.layers.to_a.join(',') %>

  <div id="arcgis_connection">
    <h3>ArcGIS Connection</h3>
    <p><strong>WMS</strong>: <a href="<%= wms_link %>"><%= wms_link %></a></p>
    <p><strong>WFS</strong>: <a href="<%= wfs_link %>"><%= wfs_link %></a></p>
  </div>

  <div id="neatline_connection">
    <h3>Neatline Connection</h3>
    <p><strong>WMS Address</strong>: <%= "#{@service_base}/wms" %><p>
    <p><strong>Layers</strong>: <%= layer_list %></p>
  </div>

  <div id="layers">

    <h3>Layer Preview</h3>

    <% @doc.layers.each do |layer| %>
      <% pdf_link = content_url(layer, 'application/pdf') %>
      <% kml_link = content_url(layer, 'application/vnd.google-earth.kml+xml') %>
      <% jpeg_link = content_url(layer, 'image/jpeg') %>
      <% openlayers_link = content_url(layer, 'openlayers') %>

      <p>
      <strong><%= layer.content %></strong> (
        <%= link_helper(pdf_link, 'PDF') %>,
        <%= link_helper(kml_link, 'KML') %>,
        <%= link_helper(jpeg_link, 'JPEG') %>,
        <%= link_helper(openlayers_link, 'Web Map') %>
      )
      </p>
  <% end %>

  </div>
<% end %>

  <div id="abstract">
    <h2>Abstract</h2>
    <p><%= @doc.abstract.gsub(/\n/, '<br/>') %></p>
  </div>
</div>

<script>

(function() {
  "use strict";

  OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
  OpenLayers.Util.onImageLoadErrorColor = "transparent";
  OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/";

  var bounds = new OpenLayers.Bounds(
    <%= @doc.south %>,
    <%= @doc.west  %>,
    <%= @doc.north %>,
    <%= @doc.east  %>
  );

  console.log('bounds', bounds);

  var map = new OpenLayers.Map({
    div: 'item_map',
    projection: new OpenLayers.Projection("EPSG:4326"),
    displayProjection: new OpenLayers.Projection("EPSG:4326"),
    units: 'm',
    maxExtent: bounds,
    //maxResolution: 'auto',
    controls: [
      new OpenLayers.Control.Attribution(),
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.LayerSwitcher({
        'ascending': true,
        roundedCorner: false
      }),
      new OpenLayers.Control.ScaleLine(),
      //new OpenLayers.Control.Permalink({anchor: true}),
      new OpenLayers.Control.MousePosition()
    ],
    layers: [
      new OpenLayers.Layer.OSM()
    ]
  });

  <% @doc.layers.each do |layer| %>
    <% clean_layer = /\:(.*)/.match(layer.text)[1].to_s %>

    var <%= clean_layer %> = new OpenLayers.Layer.WMS(
      "<%= clean_layer %>",  "<%= SiteConfig.geoserver_url + '/wms' %>",
      {
        layers: "<%= clean_layer %>"
      },
      {isBaseLayer: false}
    );

    map.addLayer(<%= clean_layer %>);
  <% end %>

  //var centerPoint = new OpenLayers.LonLat(bounds.getCenterLonLat());
  //console.log('centerPoint', bounds.getCenterLonLat());
  //map.setCenter(centerPoint);
  map.zoomToExtent(bounds);
  console.log('zoom', map.getZoomForExtent(bounds));

  console.log('map', map);
  //map.zoomTo(map.getZoomForExtent(bounds));
  map.zoomToMaxExtent();





})();
</script>
