
<div class="content">
  <h1><%= @doc.title %></h1>

  <select id="layer-switcher">
    <% @doc.layers.each do |layer| %>
      <% clean_layer = clean_layer(layer) %>
    <option value="<%= layer2variable(clean_layer) %>"><%= clean_layer %></option>
  <% end %>
  </select>

  <div id="item_map"></div>

  <div id="layers">
    <h2>Individual Layers</h2>
    <% @doc.layers.each do |layer| %>
      <h3><%= layer.content %></h3>
    <h4>WMS</h4>
    <ul class="layer-links">
      <li><%= link_to(pdf_url(layer.text), 'PDF') %></li>
      <li><%= link_to(kml_url(layer.text), 'KML') %></li>
      <li><%= link_to(svg_url(layer.text), 'SVG') %></li>
      <li><%= link_to(jpeg_url(layer.text), 'JPEG', :title => layer.content, :class => 'image cboxElement') %></li>
      <li><%= link_to(tif_url(layer.text), 'High Res Image') %></li>
      <li><%= link_to(ol_url(layer.text), 'Web Map', :class => 'cboxElement iframe') %></li>
      <li><%= link_to(wms_url(layer.text), 'WMS') %></li>
    </ul>
    <% unless has_wfs?(@doc) %>
      <br/>
    <h4>WFS</h4>
    <ul class="layer-links">
      <li><%= link_to(wfs_url(layer.text), 'WFS') %></li>
      <li><%= link_to(shape_url(layer.text), 'Shapefile') %></li>
    </ul>
  <% end %>


  <% end %>
  </div>

  <div id="abstract">
    <h2>Abstract</h2>
    <p><%= nl2br(@doc.abstract) %></p>
  </div>

  <div id="categories">
    <h2>Categories</h2>
    <p>
    <% @doc.categories.each do |category| %>
      <% search_string = "/items?q=#{category.content}&s=1&c=25&dt=3000" %>
    <%= link_to(search_string, category.content) %>
  <% end %>
    </p>
  </div>

  <div id="keywords">
    <h2>Keywords</h2>
    <p>
    <% @doc.keywords.each do |keyword| %>
      <% search_string = "/items?q=#{keyword.content}&s=1&c=25&dt=3000" %>
    <%= link_to(search_string, keyword.content) %>
  <% end %>
    </p>
  </div>

  <% unless @doc.web_service.first.nil? %>

    <div id="arcgis_connection">
    <h2>ArcGIS Connection</h2>
    <h3>WMS</h3>
    <p><%= link_to("#{@service_base}/wms?request=getCapabilities") %></p>
    <h3>WFS</h3>
    <p><%= link_to("#{@service_base}/wfs?request=getCapabilities") %></p>
  </div>

  <div id="neatline_connection">
    <h2>Neatline Connection</h2>
    <h3>WMS Address</h3>
    <p><%= "#{SiteConfig.geoserver_url}/wms" %><p>
    <h3>Layers</h3>
    <p class="neatlinelayers"><%= @doc.layers.to_a.join(',') %></p>
  </div>

<% end %>

</div>

<% content_for :jsfooter do %>
  <%# TODO: refactor in to partial %>
<script>
(function() {
  "use strict";
  //todo make this modular
  OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
  OpenLayers.Util.onImageLoadErrorColor = "transparent";
  OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/";

  var bounds = new OpenLayers.Bounds(
    <%= @doc.west %>,
    <%= @doc.south  %>,
    <%= @doc.east %>,
    <%= @doc.north  %>
  );

  var map = new OpenLayers.Map('item_map', {
    projection: new OpenLayers.Projection("EPSG:4326"),
    displayProjection: new OpenLayers.Projection("EPSG:4326"),
    maxExtent: bounds,
    restrictedExtent: bounds,
    maxResolution: 'auto',
    controls: [
      new OpenLayers.Control.Attribution(),
      new OpenLayers.Control.Navigation(),
      new OpenLayers.Control.PanZoomBar(),
      new OpenLayers.Control.ScaleLine(),
      new OpenLayers.Control.MousePosition()
    ]
  });

  var wms = new OpenLayers.Layer.WMS(
    "OpenLayers WMS", 
    "http://vmap0.tiles.osgeo.org/wms/vmap0?",
    { layers: 'basic' }
  );
  map.addLayer(wms);

  <% @doc.layers.each do |layer| %>
    <% clean_layer = layer2variable(clean_layer(layer))%>
    <%# clean_layer = "_" + /\:(.*)/.match(layer.text)[1].to_s %>
    var <%= clean_layer %> = new OpenLayers.Layer.WMS(
      "<%= clean_layer %>",  "<%= SiteConfig.geoserver_url + '/wms' %>",
      { layers: "<%= layer.text %>", transparent: true, format: 'image/gif' },
      { isBaseLayer: false, visibility: false }
    );

    map.addLayer(<%= clean_layer %>);
  <% end %>

  map.zoomToExtent(bounds);

  // fix this
  var first = $("#layer-switcher option:first").val();
  var activeLayer = map.getLayersByName(first)[0];
  activeLayer.setVisibility(true);

  $('#layer-switcher').change(function() {
    var layer = map.getLayersByName(this.value)[0];

    if(activeLayer != null) {
      activeLayer.setVisibility(false);
    }

    layer.setVisibility(true);
    activeLayer = layer;

  });

})();

</script>

<% end %>
